*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}
/* header{ 
    display: flex;
    align-items: center;
    justify-content;
} */
header{
    height: 76px;
}
.logo{
    color:#666;
    font-size: 1.4rem;
    padding: 9px;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    width: 60vw;
    justify-content: space-between;
}
a{
    color: #333;
    text-decoration: none;
    
}
nav{
    display: flex;
    justify-content:space-around;
    padding: 24px;
    font-size: 0.8rem;
}
.change{
    background-image: url(../img/blaues\ wasser.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readme{
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    width: 25vh;
    height: 6vh;
    color: white;
    background-color: blueviolet;
}
.down{
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    width: 25vh;
    height: 6vh;
    opacity: 100;
    color: white;}





.waves{
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 4rem;
    font-weight: 300;
}
.readme{
    text-al;
}
