*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}
/* header{ 
    display: flex;
    align-items: center;
    justify-content;
} */
header{
    height: 76px;
}
.logo{
    color:#666;
    font-size: 1.35rem;
    text-align: center;
    padding-right: 10rem;
}
ul{
    list-style: none;
    display: flex;
    width: 60vw;
    justify-content: space-between;
    padding-left: 70px;
    text-align: center;
    align-items: center;
}
a{
    color: #333;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 0.9rem;
}
.change{
    background-image: url(../img/blaues\ wasser.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.readme{
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    width: 25vh;
    height: 6vh;
    color: white;
    background-color: blueviolet;
}
.down{
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    width: 25vh;
    height: 6vh;
    color: white;
    background: transparent;
    border: solid white;

}

.waves{
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    font-weight: lighter;
    padding-top: 60px;
}
p{
    font-size: 1.2rem;
    margin: 10px
}
